---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<h2>Main Projects</h2>
<div class="entries-grid">
{% raw %}{% for post in site.projects %}
  {% if post.category == "main" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}{% endraw %}
</div>

<h2>Student Projects</h2>
<div class="entries-grid">
{% raw %}{% for post in site.projects %}
  {% if post.category == "student" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}{% endraw %}
</div>
