---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<h2>Main Projects</h2>
<h3>Radar-derived basal melt rates of Ross Ice Shelf, Antractica</h3>

<div class="entries-grid">This project examines the relationship between airborne 
  ice-penetrating radar attenuation rates and ice-shelf basal melt rates through ice 
  temperature. We developed a thermal model to capture the melt rate of Ross Ice Shelf 
  using ROSETTA-Ice airborne survey.
</div>

<h2>Student Projects</h2>
<div class="entries-grid">
{% raw %}{% for post in site.projects %}
  {% if post.category == "student" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}{% endraw %}
</div>
